{% extends "base.html" %}

{% block conteudo %}
   


        <div class="row">
            <div class="col s12 m4 offset-m4">
                <div class="card">
                    <div class="card-action cyan darken-1 white-text">
                        <h3> CADASTRO </h3>
                    </div>

                    <form action="" method="POST">
                            {{ form.csrf_token }}

                        <div class="card-content">
                            <label>Usuario</label>
                                {{ form.usuario (_class="form-control",
                                placeholder="Usuário" ) }}
                        </div>

                        <div class= "card-content">
                            <label>Senha</label>
                                {{ form.senha(_class="form-control",
                                placeholder="Senha")}}
                        </div>

                        <div class="card-content">
                            <label> Email </label>
                                {{ form.email(_class="form-control",
                                placeholder="Email")}}
                        </div>

                    <button type="submit" class= "btn-floating btn-large waves-effect waves-light red">Enviar</button>
                </form>
                </div>
            </div>
        </div>
    </div>






       

       
{% endblock conteudo %}
